<div class="top-page">
  <div class="main-visual"></div>
  <div class="spot_index">
      <table>
        <div class="index_first">おすすめ</div>

        <% @random.each_slice(4) do |spot1, spot2, spot3, spot4| %>

          <tr>
            <td>
              <% if spot1 != nil%>
                <%= attachment_image_tag spot1, :image, :fill, 200, 150, format: 'jpg', fallback: "no_image.jpg" %><br>
                <div class="index_spot_name">
                  <%= spot1.name %>
                </div>
                <div class="spot_category">
                  <div class="category_name"><%= spot1.category.name %></div>
                </div>
              <% end %>
            </td>

            <td>
              <% if spot2 != nil%>
                <%= attachment_image_tag spot2, :image, :fill, 200, 150, format: 'jpg', fallback: "no_image.jpg" %><br>
                <div class="index_spot_name">
                  <%= spot2.name %>
                </div>
                <div class="spot_category">
                  <div class="category_name"><%= spot2.category.name %></div>
                </div>
              <% end %>
            </td>

            <td>
              <% if spot3 != nil%>
                <%= attachment_image_tag spot3, :image, :fill, 200, 150, format: 'jpg', fallback: "no_image.jpg" %><br>
                <div class="index_spot_name">
                  <%= spot3.name %>
                </div>
                <div class="spot_category">
                  <div class="category_name"><%= spot3.category.name %></div>
                </div>
              <% end %>
            </td>

            <td>
              <% if spot4 != nil%>
                <%= attachment_image_tag spot4, :image, :fill, 200, 150, format: 'jpg', fallback: "no_image.jpg" %><br>
                <div class="index_spot_name">
                  <%= spot4.name %>
                </div>
                <div class="spot_category">
                  <div class="category_name"><%= spot4.category.name %></div>
                </div>
              <% end %>
            </td>
          </tr>

        <% end %>
      </table>

      <table>
        <div class="index_second">一覧</div>

        <% @spots.each_slice(4) do |spot1, spot2, spot3, spot4| %>

          <tr>
            <td>
              <% if spot1 != nil%>
                <%= attachment_image_tag spot1, :image, :fill, 200, 150, format: 'jpg', fallback: "no_image.jpg" %><br>
                <div class="index_spot_name">
                  <%= spot1.name %>
                </div>
                <div class="spot_category">
                  <div class="category_name"><%= spot1.category.name %></div>
                </div>
              <% end %>
            </td>

            <td>
              <% if spot2 != nil%>
                <%= attachment_image_tag spot2, :image, :fill, 200, 150, format: 'jpg', fallback: "no_image.jpg" %><br>
                <div class="index_spot_name">
                  <%= spot2.name %>
                </div>
                <div class="spot_category">
                  <div class="category_name"><%= spot2.category.name %></div>
                </div>
              <% end %>
            </td>

            <td>
              <% if spot3 != nil%>
                <%= attachment_image_tag spot3, :image, :fill, 200, 150, format: 'jpg', fallback: "no_image.jpg" %><br>
                <div class="index_spot_name">
                  <%= spot3.name %>
                </div>
                <div class="spot_category">
                  <div class="category_name"><%= spot3.category.name %></div>
                </div>
              <% end %>
            </td>

            <td>
              <% if spot4 != nil%>
                <%= attachment_image_tag spot4, :image, :fill, 200, 150, format: 'jpg', fallback: "no_image.jpg" %><br>
                <div class="index_spot_name">
                  <%= spot4.name %>
                </div>
                <div class="spot_category">
                  <div class="category_name"><%= spot4.category.name %></div>
                </div>
              <% end %>
            </td>
          </tr>

        <% end %>
      </table>
  </div>
</div>