<div class="top-page">
  <div class="spot_index">

    <div class="theTarget">
      <div class="pic1"></div>
      <div class="pic2"></div>
      <div class="pic3"></div>
      <div class="pic4"></div>
      <div class="pic5"></div>
    </div>

    <div class="tab-index clearfix">

      <div class="tab1">
        <div class="tab-title">旅行の計画を立てる</div>
      </div>

      <div class="tab2">
        <div class="tab-title">屋久島について知る</div>
          <div class="category-index">
          <% @categories.each do |category| %>
            <div class="spot_category">
              <div class="category_name"><%= category.name %></div>
            </div>
          <% end %>
        </div>

        <% @random.each_slice(2) do |spot1, spot2| %>
        <div class="tab-spot-index">
          <div class="random-image">
            <%= link_to spot_path(spot1.id) do %>
              <%= attachment_image_tag spot1, :image, :fill, 200, 150 %>
            <% end %>
          </div>
          <div class="random-image">
            <%= link_to spot_path(spot2.id) do %>
              <%= attachment_image_tag spot2, :image, :fill, 200, 150 %>
            <% end %>
          </div>
        </div>
        <% end %>
      </div>

    </div>

  </div>
</div>