<div class="nested-fields">
  <div class="destination-edit clearfix">
    <div class="destination_time clearfix">
      <%= f.time_select :time, {}, class: 'form_date_select', include_blank: true %>
    </div>

    <div class="destination_select">
      <div class="destination_category">
        <%= f.label :category, "カテゴリー" %>
        <%= f.collection_select :category, Category.all, :id, :name, {}, {class: "destination_category_select"} %>
      </div>

      <div class="destination_spot">
        <%= f.label :spot, "スポット" %>
        <%= render partial: 'spots', locals: {category_id: Category.first.id} %>
      </div>

      <div class="plan_content">
        <%= f.text_area :to_do, class: 'form-control' %>
      </div>
    </div>

    <div class="destination_delete">
      <%= link_to_remove_association '削除', f %>
    </div>
  </div>
</div>

<script>
$('.destination_category_select').keyup(function(){

})



$(document).on('change', '.destination_category_select', function() {
  console.log(this);
  return $.ajax({
    type: 'GET',
    url: '/destinations/spots_select',
    data: {
      category_id: $(this).val()
    }
  }).done(function(data) {
    return $('.destination_select_for_spots_[]').html(data);
  });
});
</script>

<script>
    $('#quantity, #price').keyup(function(){
        var cant = parseFloat(this.nextElementSibling('#quantity').val()) || 0;
        var price = parseFloat(this.nextElementSibling('#price').val()) || 0;
        var result = cant * price
        this.nextElementSibling('.result').val(result);
    })
</script>



$('#テキストボックスのid').keyup(function() {
    isChange = true;
});

$('#セレクトボックスのid').change(function() {
    isChange = true;
});



